*.pyc
*.nja
*.pyo
*~
*.db
*.swp
pip-*.gz
vtenv
eggs
.project
.pydevproject
*.egg-info/
parts/
medias/
develop-eggs/
node_modules/
bower_components/
static/
bin/
src/
.installed.cfg
!{{cookiecutter.project_name}}/static/
